[user]
	name = tanmen
	email = yt.prog@gmail.com
	signingkey = AEFCD8B9

[alias]
  co = checkout
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[branch "master"]
	rebase = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
